div.spinner-full-page(ng-if = "show")
    div.spinner-full-page-background
        div.spinner-full-page-container
            div.uil-spin-css.spinner-3
                div: div
                div: div
                div: div
                div: div
                div: div
                div: div
                div: div
                div: div