doctype html
head
    meta(charset="utf-8")
    title Gestion de usuarios
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", media="screen", title="no title", charset="utf-8")
    link(rel="stylesheet", href="commons/bower_components/ld-core/dist/main.min.css")
    link(rel="stylesheet", href="commons/styles/main.css")
    link(rel="stylesheet", href="user-management/styles/main.css")
body(ng-app="userManagement", ng-controller="mainCtrl")

    div.main-container
        include ../includes/menu.jade


        div( ui-view="" )

    
    //- CDN Angular
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-sanitize.min.js")
    //- CDN Externas
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.0.9/ocLazyLoad.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap.min.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.5/ui-bootstrap-tpls.min.js")
    //- Core
    script(type="text/javascript", src="commons/bower_components/ld-core/dist/ld-core.min.js")
    script(type="text/javascript", src="commons/bower_components/ld-core/dist/ld-internet.min.js")
    //- App Config
    script(type="text/javascript", src="user-management/scripts/app.js")
    script(type="text/javascript", src="user-management/scripts/app-config.js")
    script(type="text/javascript", src="user-management/scripts/app-config-route.js")
    //- Scripts
    script(type="text/javascript", src="user-management/scripts/controllers/main-ctrl.js")
    script(type="text/javascript", src="user-management/scripts/services/modal-srv.js")
