div.container-radio(ng-class="[radioButtons, {'selected': isChecked, 'disabled-option': ngDisabled}] ")
    div.disabled
    label(ng-click="onClick()")
        div.circle
            div.fill
        span {{radioButtons}}