


.block-errors-managed {
    @include borderRadius( 5px);
    @include clearfix();
    @include transition(all 0.2s);
    clear: both;
    color: white;
    display: block;
    margin-bottom: 15px;
    overflow: hidden;



    &.hide-error {
        height: 0;
        margin-bottom: 0px;
        overflow: hidden;
    }



    ul {
        background: none;
        border: 0px;
        display: block;
        margin: 0px;
        padding: 0px;
        list-style-type: none;



        li {
            @include clearfix();
            background-color: $color-red;
            clear: both;
            display: block;
            font-size: 14px;
            font-weight: 600;
            list-style-type: none;
            padding: 7px 10px;



            .message-dot {
                display: inline-block;
                float: left;
                font-size: 30px;
                line-height: 10px;
                padding: 2px 0px 0px 2px;
            }



            .message-content {
                padding-left: 3px;
                line-height: 18px;
            }
        }
    }
}



.blink-me {
    animation: blinker 0.2s linear infinite;
    @include transition(all 0.2s);
}



@keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}
