.checkbox{
    @include borderRadius(4px);
    background: white;
    border: 1px solid #ccc;
    height: 70px;
    margin-bottom: 25px;
    width: 100%;
    width: 675px;



    input:checked + label:after{
        opacity: 1 !important;
    }



    input{
        display: none;
    }



    &:hover{
        background: #f3f3f3;
    }



    &.active{
        background: $color-green-1;



        .text{



            span{



                &.title,&.description{
                    color: $color-white;
                }



            }



        }
    }



    &.disableactive{


        label{
            opacity:.5;
        }



    }



    label{
        @include borderRadius(2px);
        background: #fff;
        border: 1px solid #ccc;
        display: block;
        height: 28px;
        margin: 22px 0 0 19px;
        position: absolute;
        width: 27px;



        &::after{
            @include transform(rotate(-45deg));
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            background: transparent;
            content: '';
            filter: alpha(opacity=0);
            height: 9px;
            left: 5px;
            opacity: 0;
            position: absolute;
            top: 6px;
            width: 15px;
            border: 3px solid #00CC66;
            border-top: none;
            border-right: none;
        }



    }



    .text{
        color: $color-white;
        display: inline-block;
        margin-top: 12px;
        margin-left: 60px;



        span{
            display: block;



            &.title{
                font-size: 18px;
                color: #00CC66;
            }



            &.description{
                font-size: 14px;
                color: #666666;
                font-weight: 500;
            }



        }



    }



}

