.container-radio{
    display: inline-block;
    position: relative;



    &.selected{



        label{
            cursor: auto;



            .circle{
                border: 2px solid  $color-green-1;



                .fill{
                    opacity: 1;
                }
            }
        }



        .disabled{
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }



    &.disabled-option{



        span, .circle{
            opacity: 0.3;
        }



        .disabled{
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
    }



    input{
        display: none;
    }



    label{
        cursor: pointer;
        margin-left: 30px;



    }




    span{
        font-size: 15px;
        vertical-align: middle;



        &.disabled-option{
            opacity: 0.6;
        }
    }



    .disabled.disabled-option{
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }



    .circle{
        @include borderRadius(50%);
        @include transition(border 0.3s);
        border: 2px solid $color-gray-light;
        display: inline-block;
        height: 31px;
        margin-right: 11px;
        position: relative;
        vertical-align: middle;
        width: 31px;
    }



    .fill{
        @include borderRadius(50%);
        @include transition(opacity 0.3s);
        background-color: $color-green-1;
        height: 17px;
        left: 5px;
        opacity: 0;
        position: absolute;
        top: 5px;
        width: 17px;
    }
}
