.selected-drop{
    display: inline-block;
    width: 210px;



    .nano{
        height: inherit;
        overflow: auto;



        & > .nano-content{
            bottom: inherit;
            max-height: 184px;
            position: initial;
            top: inherit;
            width: 100%;
            overflow: initial;
        }



        & > .nano-pane{
            display: none !important;
        }
    }



    @include colorPlaceholder( $color-gray  );


    input{
        @include borderRadius(5px);
        border: 0;
        color: $color-gray;
        height: 100%;
        left: 0;
        padding: 10px 35px 10px 10px;
        position: absolute;
        top: 0;
        width: 100%;
    }



    .wibe-icon{



        &.icon-arrow{
            @include transform( rotateZ(180deg) );
            background: url("../images/sprites-icon-only.png") no-repeat;
            background-position: -394px -181px;
            display: block;
            height: 11px;
            padding: 0;
            position: absolute;
            right: 15px;
            top: calc( 50% - 5px);
            width: 15px;
        }



        &.icon-error{
            background: url("../images/sprites-icon-only.png") no-repeat;
            background-position: -215px -349px;
            display: block;
            height: 20px;
            padding: 0;
            position: absolute;
            right: 35px;
            top: calc( 50% - 10px);
            width: 24px;
        }
    }



    .btn-group{
        @include borderRadius(5px);
        background: $color-white;
        border: 1px solid $color-gray3;
        min-height: 45px;



        &.open{
            border: 0;



            .dropdown-toggle{
                @include boxShadow( inherit );
            }



            & >.btn:first-child{
                border: 1px solid $color-green-1;
            }
        }



        &.error{
            border: 1px solid red;



            & >.btn:first-child{
                border: 0;
                padding-right: 60px;
            }
        }



        & >.btn:first-child{
            @include borderRadius(5px);
            background: transparent;
            color: $color-gray11;
            display: table;
            font-size: 16px;
            font-weight: 700;
            height: 100%;;
            min-height: 45px;
            padding-right: 30px;
            position: relative;
            text-align: left;



            span:first-child{
                display: table-cell;
                vertical-align: middle;
                white-space: normal;
            }
        }
    }



    label,ul,.btn-group{
        width: 100%
    }


    label{


        select{
            -moz-appearance:none;
            -webkit-appearance:none;
            appearance:none;
            background: transparent;
            border: 0;
            color: transparent;
            display: block;
            height: 100%;
            left: 0;
            padding-left: 12px;
            position: absolute;
            top: 0;
            width: 100%;


            option{
                color: $color-gray11;
            }
        }
    }



    ul{
        background: $color-white;
        border: 1px solid $color-green-1;
        border-top: 1px solid $color-gray3;
        margin-top: -1px;
        padding: 0;
        top: 100% !important;



        li{
            @include clearfix();
            border-bottom: 1px solid $color-gray3 !important;
            display: table;
            line-height: 100%;
            text-align: left;
            width: 100%;


            &:last-child{
                border-bottom: 0 !important;
            }



            .container-option{
                display: table-cell;
                margin: 0;
                padding: 10px 5px;
                vertical-align: middle;



                &.no-img{
                    padding-left: 20px;



                    span{
                        width: 100%;
                    }
                }



                &:hover{
                    background: $color-green-1;



                    span{
                        color:$color-white;
                    }



                    .auto-seguro{



                        &:before{
                            background-position: -530px -3px !important;
                        }
                    }



                    .chofer-privado{



                        &:before{
                            background-position: -326px -47px !important;
                        }
                    }



                    .rc-carretero{



                        &:before{
                            background-position: -370px -3px !important;
                        }
                    }
                }



                span{
                    color: $color-gray;
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 700;
                    vertical-align: middle;
                    width: 75%;


                    &.img{
                        margin-right: 4%;
                        width: 20%;



                        &:before{
                            background: url("../../images/sprites-select-unselect.png") no-repeat;
                            background-size: 625px !important;
                            content: "";
                            display: block;
                            height: 40px;
                            width: 40px;
                        }



                        &.auto-seguro{



                            &:before{
                                background-position: -486px -3px;
                            }
                        }



                        &.chofer-privado{



                            &:before{
                                background-position: -576px -3px;
                            }
                        }



                        &.rc-carretero{



                            &:before{
                                background-position: -325px -3px;
                            }
                        }
                    }
                }
            }
        }
    }
}



.dropdwon{
    color:$color-gray;
    font-size: 16px;
    padding-right: 12px;



    .left{
        float: left;
    }



    .title{
        font-weight: 600;
        line-height: 52px;
        margin-left: 93px;
        margin-right: 14px;
    }



    .selected-drop{



        .btn-group{



            > .btn:first-child{
                min-height: 60px;



                label{
                    min-height: 60px;
                }
            }
        }
    }
}



.step-4,.resume-step5{



    .selected-drop{
        width: 100%;
    }
}



.section-coverage{



    .percentage{



        .btn-group{



            &.open{



                & > span:first-child{
                    display: inline-block !important;
                }



                & > .btn:first-child{



                    &:before{
                        color: $color-gray;
                        position: absolute;
                        z-index: 10000;
                    }
                }
            }



            & > .btn:first-child{



                &:before{
                    content: '+';
                    display: inline-block;
                    margin-top: 15px;
                }
            }
        }
    }



    .selected-drop {
        height: 100%;
        width: 100%;



        .open{



            .icon-arrow{
                @include transform( rotateZ(180deg) !important );
                background: url("../images/sprites-icon-only.png") no-repeat;
                background-position: -394px -181px;
            }
        }



        input{
            @include borderRadius(0);
            text-align: center;
        }



        ul{
            height: auto;



            li{


                .container-option.no-img{



                    span{
                        font-size: 18px;
                    }
                }
            }



            .nano{



                & > .nano-content{
                    max-height: initial;
                    overflow: hidden;
                    position: relative;
                    right: 0 !important;
                }
            }
        }



        .btn-group{
            @include borderRadius(0);
            background: none;
            border: 0;
            height: 100%;



            & > .btn:first-child{
                color: $color-white;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
        }



        .wibe-icon{



            &.icon-arrow{
                @include transform( rotateZ(0deg) );
                background: url("../images/sprites-icon-only.png");
                background-position: -432px -160px !important;
            }
        }
    }
}



.disabled-select.disabled + .selected-drop label > span {
    color: $color-gray1 ;
}



.row-time-select{



    .selected-drop{
        width: 100%;
    }
}
