


.wb-input-state {
    position: relative;



    &.wb-input-state-disabled {
        cursor: not-allowed;
        opacity: 0.3;
    }



    &.wb-input-state-error {



        input {
            border-color: $color-red !important;
            box-shadow: 0px 2px 0px 0px $color-gray4 !important;
            color: $color-red !important;
            padding-right: 35px;



            &:focus {
                border-color: $color-red !important;
                color: $color-red !important;
                box-shadow: 0px 2px 0px 0px $color-gray4 !important;
            }
        }
    }



    &.wb-input-state-success {



        input {
            padding-right: 35px;
        }
    }






    input {
        @include transition( all 0.2s );
        border-radius: 4px;
        border: 0px;
        border: 1px solid $color-gray-borders3;
        box-shadow: 0px 1px 1px 0px $color-gray4;
        color: $color-gray;
        display: block;
        font-size: 16px;
        height: 45px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 2px;
        width: 100%;



        &:focus {
            @include transition( all 0.2s );
            border-color: $color-green-1;
            box-shadow: 0px 0px 3px $color-green-1;
        }



        &.ng-invalid-required.ng-dirty, &.ng-invalid.ng-dirty {
            @include transition( all 0.2s );
            border-color: $color-gray-borders3;
            box-shadow: 0px 1px 1px 0px $color-gray4;
            color: $color-gray;



            &:focus {
                @include transition( all 0.2s );
                border-color: $color-gray-borders3;
                box-shadow: 0px 0px 3px 0px $color-green-1;
            }
        }



        &.padding-with-tooltip {
            padding-right: 66px;
        }



        &[disabled="disabled"], &[disabled="true"], &.disabled {
            opacity: 0.3;
        }
    }



    .status-container {
        display: inline-block;
        float: right;
        height: 0px;
        position: absolute;
        right: 10px;
        top: 11px;



        .input-state-icon, .input-state-tooltip, .input-state-spinner {
            @include transition( all 0.1s ease-in-out 0.1s );
            background-position: 50% 50%;
            background-repeat: no-repeat;
            display: inline-block;
            float: right;
            height: 24px;
            width: 24px;
        }



        .input-state-icon {
            margin-right: 3px;



            &.state-icon-success {
                @include transition( all 0.1s ease-in-out 0.1s );
                background-image: none;



                &.show-success-icon {
                    @include transition( all 0.1s ease-in-out 0.1s );
                    background: url( '../../../commons/images/sprites-icon-only.png' ) !important;
                    background-position: -426px -289px !important;
                }
            }



            &.state-icon-error {
                @include transition( all 0.1s ease-in-out 0.1s );
                background: url( '../../../commons/images/sprites-icon-only.png' ) !important;
                background-position: -215px -349px !important;
            }
        }



        .input-state-tooltip {
            @include transition( all 0.1s ease-in-out 0.1s );
            background-image: url( '../../../commons/images/sprites-icon-only.png' );
            background-position: -2px -38px !important;
            background-size: 260px;
            cursor: pointer !important;
            height: 25px;
            margin-right: -1px;
            margin-top: -1px;
            width: 25px;
        }



        .tooltip.wb-input-state-tooltip .tooltip-inner {
            color: $color-brown;
            font-size: 12px;
            font-weight: 600;
            background-color: $color-yellow;
            box-shadow: none;
            min-width: 300px;
        }



        .tooltip.wb-input-state-tooltip .tooltip-arrow {
            border-right-color: $color-yellow;
            border-top-color: $color-yellow;
        }



        .input-state-spinner {
            margin-right: 5px;



            .spinner-2 {
                @include transform( scale( 0.11 ) );
                height: 24px;
                left: -10px;
                margin: 0px;
                position: relative;
                top: -10px;
                width: 24px;
            }
        }
    }
}
