@mixin colorPlaceholder($color) {
    input#search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    $color;
    }
    input#search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    $color;
       opacity:  1;
    }
    input#search::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    $color;
       opacity:  1;
    }
    input#search:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    $color;
    }
    input#search:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
      color:    $color;
    }


}
