


@mixin transform ( $_propertieValue ) {
    -webkit-transform: $_propertieValue;
    -ms-transform: $_propertieValue;
    -o-transform: $_propertieValue;
    -moz-transform: $_propertieValue;
    transform: $_propertieValue;
}