label.checkbox( for="{{ description }}" ng-class="{'active' :   _master, 'disableactive': ngDisabled }" )
    input.icon-ck(
        type="checkbox"
        id="{{ description }}"
        ng-model="_master"
        ng-checked="{{checked}}"
        ng-disabled="ngDisabled"
    )
    label( for="{{ description }}")
    span.text
        span.title {{ title | lowercase}}
        span.description {{ description }}
