.menu {
    background: $color-green;
    height: 60px;
    margin-bottom: 17px;
    position: relative;



    * {
        color: white;
        font-family: "FS Joey", "Arial", "sans-serif";
        font-size: 13px;
        font-weight: 700;
        line-height: 25px;
        margin: 0px;
        padding: 0px;
    }



    .logo {
        background: url(../../commons/images/sprites-icon-only.png) -462px -171px no-repeat;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 31px;
        margin-left: 10px;
        margin-top: 10px;
        width: 94px;
    }



    #header {
        float: left;
        margin-left: 10px;
        width: 751px;
    }



    ul, ol {
        list-style: none;
    }



    .nav > li {
        float: left;
    }



    .nav li a {
        display: block;
        height: 60px;
        padding: 18px 10px 0px;
        text-decoration: none;
    }



    .second-level {
        box-shadow: 0px 2px 2px 1px rgba(50, 50, 50, 0.5);



        a {
            margin: 0px !important;
        }
    }



    .nav li a:hover {
        background-color: $color-green-dark;
        color: white;
    }



    .nav li ul {
        background-color: $color-green;
        display: none;
        min-width: 135px;
        padding: 0px;
        position: absolute;
    }



    .nav li:hover > ul {
        display: block;
    }



    .nav li ul li {
        position: relative;
    }



    .nav li ul li ul {
        right: -140px;
        top: -50px;
    }



    .logout{
        cursor: pointer;
        float: right;
        margin: 5px 5px;
        padding: 15px 15px 10px;
    }



    .user-info{
        float: right;
        min-width: 290px;
        padding: 18px 15px 10px;
    }
}



.exit {
    background: $color-green;
    box-shadow: 0px 2px 2px 1px rgba(50, 50, 50, 0.5);
    clear: both;
    float: right;
    font-size: 13px;
    margin-top: 40px;
    position: absolute;
    right: 0px;
    z-index: 10000000;



    * {
        margin: 0px;
        padding: 0px;
    }



    ul {



        li {
            list-style: none;



            a {
                background-color: $color-green;
                display: block;
                padding: 15px 10px;
                position: relative;
                text-decoration: none;
                z-index: 10;



                &:hover {
                    background-color: $color-green-dark;
                    color: white;
                }
            }
        }
    }
}
